@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
    /* 色の登録 */
    --color-base-gray: #f5f5f5;
    --color-base-blue: #275c8b;
    --color-highlight-blue: #007aff;

    /* フォント設定 */
    --font-mono: var(--font-geist-mono);
    --font-michroma: "Michroma", sans-serif;
    --font-sans: "IBM Plex Mono", sans-serif;
}

.glow-subtle {
    text-shadow: 0 0 10px rgba(39, 92, 139, 0.5) !important; /* 文字の周りにうっすら光を置く */
}

.glow-on-hover {
    transition: all 0.3s ease;
    /* デフォルトの色 */
    --glow-color: #007aff;
}

.glow-on-hover:hover {
    color: var(--glow-color) !important;
    text-shadow:
    /* 芯を太くする */
        0 0 2px var(--glow-color),
        /* 中間の光 */ 0 0 6px var(--glow-color),
        /* 外側のぼわっとした光 */ 0 0 15px var(--glow-color) !important;
}

.glow-on-title {
    color: #f5f5f5 !important;
    text-shadow:
  /* 芯を太くする */
        0 0 2px #fff,
        /* 中間の光 */ 0 0 4px #fff,
        /* 外側のぼわっとした光 */ 0 0 10px #fff !important;
}

.glow-on-page-title {
    color: #404040 !important;
    text-shadow:
  /* 芯を太くする */
        0 0 1px #404040,
        /* 中間の光 */ 0 0 1px #404040,
        /* 外側のぼわっとした光 */ 0 0 2px #404040 !important;
}
